@{
    ViewData["Title"] = "Home";
}



<div class="row">
    <div class="col-md-3" style="padding-top:50px">
    
        <ul>
            <li>Creador Santiago Vespa</li>
            <li>Contacto santivespa20@gmail.com</li>
            <li>Servidores de <a href="https://erizos-dev.com/">Erizos-Dev</a></li>
        </ul>
    </div>
  
</div>


